.name {
    font-family: 'Trocchi', serif;
    font-weight: normal;
    line-height: 28px;
    box-sizing: border-box;
    background-color: lightblue;
    border: 15px solid brown;
    padding: 10px;
    margin: 20px;
    width: 840px;
}

p {
    color: #7a7c7f;
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
    line-height: 35px;
    text-shadow: 0 1px 1px #fff;
    width: 780px;
    border: 10px solid green;
    padding: 20px;
    margin: 20px;
}